@import "../../css/_module-imports";

.u4m-cta-row {

  &.reverse-text {
    .intro_content {
      margin-bottom: 0;

      .eyebrow_text {
        background-color: rgba($white, 0.15);
        color: $white;
      }

      .hs-button {
        @include button;
      }
    }
  }

  .intro_content {
    margin-bottom: 0;
  }

  .twocols {
    gap: 80px;
    align-items: center;

    .leftCnt {
      width: calc(50% - 40px);

      .intro_content {
        max-width: 100%;
        padding: 0;
        text-align: left;

        .intro_btn_wrap {
          justify-content: flex-start;
        }
      }
    }

    .rightCnt {
      width: calc(50% - 40px);

      .pdd {
        padding: 40px;
        border-radius: 12px;
        color: $action2;
        position: relative;
        margin: 30px 0 0 0;

        &:before {
          content: '';
          width: 80px;
          height: 62px;
          display: block;
          position: absolute;
          top: -30px;
          right: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }

        .cnt {
          padding-bottom: 40px;

          p {
            margin: 0;
          }
        }

        .name {
          p {
            margin: 0;
          }
        }

        .designation {
          p {
            margin: 0;
          }
        }
      }

      .pdd.lightCnt {
        color: $white;
      }
    }
  }
}

@include navbreakMin {
  .u4m-cta-row {
    .twocols {
      gap: 30px;
      row-gap: 30px;

      .leftCnt {
        width: calc(50% - 15px);
      }

      .rightCnt {
        width: calc(50% - 15px);
      }
    }
  }
}

@include tabletvert {

  .u4m-cta-row {
    .twocols {
      gap: 30px;
      row-gap: 30px;

      .leftCnt {
        width: 100%;

        .intro_content {
          text-align: center;

          .intro_btn_wrap {
            justify-content: center;
          }
        }
      }

      .rightCnt {
        width: 100%;

        .pdd {
          margin: 0;
          text-align: center;

          &:before {
            height: 42px;
            width: 55px;
            top: -20px;
          }
        }
      }
    }
  }

}