{% set moduleName = 'u4m-cta-row' %}
{% include "../partials/u4-module-includes.html" %}

{% if module.includes_quote %} <div class="twocols flex_row"> 	{% endif %}
	<div class="leftCnt">
		{{ macros.introGroup(module.intro_content, module.module_settings) }} 
		{% if module.includes_quote %}  </div> 	{% endif %}
	{% if module.includes_quote %}
	<div class="rightCnt">
		<div class="pdd {{ module.module_settings.quote_group.select_color }} {% if module.module_settings.quote_group.dark_theme %} lightCnt {% endif %}">
			<div class="cnt">
				{{ module.quote_group.quote }}
			</div>
			<div class="name">
				<p>
					<strong>
						{{ module.quote_group.author_name }} 
					</strong>
				</p>
			</div>
			<div class="designation">
				<p>
					<strong>
						{{ module.quote_group.designation }}
					</strong>
				</p>
			</div>
		</div>
	</div>
	{% endif %}
</div>

</div>
</div>
</section>

{% if  module.module_settings.quote_group.select_color =="custom" %}
<style>
	.u4m-cta-row .twocols .rightCnt .pdd.custom{
		background-color:{{ module.module_settings.quote_group.custom_color.rgba }};
	}
</style>
{% endif %}
<style>
	.u4m-cta-row .twocols .rightCnt .pdd:before {
		background-image:url({{ get_asset_url('../../templates/images/quote.png') }});
	}
</style>