<!--
templateType: "none"
isAvailableForNewContent: false
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
	<head>
		<meta charset="utf-8">
		<title>{{ page_meta.html_title }}</title>
		<link rel="shortcut icon" href='{{ "{{ site_settings.favicon_src }}" if site_settings.favicon_src }}'/>
		<meta name="description" content="{{ page_meta.meta_description }}">
		{{ require_css(get_asset_url('../css/styles.css')) }}
		{{ standard_header_includes }}
		{# {% unless content.featured_image %}<meta property="og:image" content="https://302335.fs1.hubspotusercontent-na1.net/hubfs/302335/placeholder-image.jpg" />{% endunless %} #}
		{% if template_meta.label == "thank-you-page.html" %}<meta name="robots" content="noindex">{% endif %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 	
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
		{% if not site_settings.include_jquery %}
		{{ require_js("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js", "footer") }}
		{% endif %}
	</head>
	<body class="{{ builtin_body_classes }} {% if request.full_url is string_containing "/author/" %} author-listing {% endif %}">
		{% block header %}
		{% global_partial path='././partials/u4m-header.html' %}
		{% endblock header %}

		{% block body %}
		{% endblock body %}

		{% block footer %}
		{% global_partial path='././partials/u4m-footer.html' %}
		{% endblock footer %}
		{{ require_js(get_asset_url('../js/main.js')) }}
		{{ standard_footer_includes }}
	</body>
</html>
