<!--
templateType: global_partial
label: Website footer
-->

<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top-inner">
        <div class="footer-content">
          <div class="footer-logo">
            {% set logo_src = get_asset_url('./../images/Logo.png') %} {% module
            "footer_logo" path="@hubspot/logo", label="Logo", link="/"
            img={src="{{logo_src}}", width=209, override_inherited_src= true,
            alt="Vandis"} %}
          </div>
          <div class="logo-btm-cnt">
            {% module_block module "logo_content" path="@hubspot/rich_text",
            label="Content" %} {% module_attribute "html" %}
            <p>
              Tailored security and networking guidance: Building a secure and
              optimized network for your hybrid environment.
            </p>
            {% end_module_attribute %} {% end_module_block %}
          </div>
          <div class="footer-contact">
            <div class="contact-address">
              {% module_block module "contact_address"
              path="@hubspot/rich_text", label="Contact Address" %} {%
              module_attribute "html" %}
              <p>
                <strong>Corporate Office</strong><br />
                1 Albertson Avenue<br />
                Albertson, NY 11507
              </p>
              {% end_module_attribute %} {% end_module_block %}
            </div>
            <div class="contact-details">
              {% module_block module "contact_details"
              path="@hubspot/rich_text", label="Contact Details" %} {%
              module_attribute "html" %}
              <p>
                <strong
                  >Phone: <a href="tel:5162812200">(516) 281-2200</a></strong
                >
              </p>
              <p><strong>Toll Free: (800) 397-3146</strong></p>
              <p>
                <strong>Fax: (516) 626-9003</strong>
              </p>
              {% end_module_attribute %} {% end_module_block %}
            </div>
          </div>
        </div>
        <div class="footer-menu">
          <div class="footer-menu-inner">
            {% menu "footer_menu" label="Menu", flyouts=false, id="187208826695"
            %}
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom-inner">
        <div class="copyright">
          {% module "copyright" path="@hubspot/text" value="© {{year}} Vandis
          Inc., All Rights Reserved." label="Copyright" %}
        </div>
        <div class="social-icons">
          {% module "social_share" label="Social Share"
          path="../../modules/u4m-social-share", offset=0, width=12, items=[ {
          "icon_field" : { "name" : "LinkedIn", "type" : "REGULAR", "unicode" :
          "f08c" }, "image_field" : { "loading" : "lazy", "size_type" : "auto",
          "src" : "" }, "link_field" : { "no_follow" : false, "open_in_new_tab"
          : false, "url" : { "href" : "https://in.linkedin.com/", "type" :
          "EXTERNAL" } }, "select_icon_type" : "icon" }, { "icon_field" : {
          "name" : "Facebook", "type" : "REGULAR", "unicode" : "f09a" },
          "image_field" : { "loading" : "lazy", "size_type" : "auto", "src" : ""
          }, "link_field" : { "no_follow" : false, "open_in_new_tab" : false,
          "url" : { "href" : "https://www.facebook.com/", "type" : "EXTERNAL" }
          }, "select_icon_type" : "icon" }, { "icon_field" : { "name" : "X
          Twitter", "type" : "REGULAR", "unicode" : "e61b" }, "image_field" : {
          "loading" : "lazy", "size_type" : "auto", "src" : "" }, "link_field" :
          { "no_follow" : false, "open_in_new_tab" : false, "url" : { "href" :
          "https://x.com/?lang=en", "type" : "EXTERNAL" } }, "select_icon_type"
          : "icon" }, { "icon_field" : { "name" : "YouTube", "type" : "REGULAR",
          "unicode" : "f167" }, "image_field" : { "loading" : "lazy",
          "size_type" : "auto", "src" : "" }, "link_field" : { "no_follow" :
          false, "open_in_new_tab" : false, "url" : { "href" :
          "https://www.youtube.com/", "type" : "EXTERNAL" } },
          "select_icon_type" : "icon" } ] %}
        </div>
        <div class="legal-link">
          {% module_block module "legal" path="@hubspot/rich_text", label="Legal
          Content" %} {% module_attribute "html" %}
          <p><a href="#">Terms of Use</a><a href="#">Privacy Policy</a></p>
          {% end_module_attribute %} {% end_module_block %}
        </div>
      </div>
    </div>
  </div>
</footer>
