@import "../../css/_module-imports";
.u4m-resource-cards {
  &.reverse-text .cardItem .hs-arrow-btn {
    @include arrowbutton;
  }
  .CardWrap {
    .cardItem {
      .itemInr {
        @include blogpostCard;
        .itemImgin {
          min-height: 170px;
        }
        .itemCnWrap .itemTags {
          margin-bottom: 16rem;
        }
        .itemCnWrap {
          padding: 24rem;
          .btn_item a {
            margin: 0;
          }
        }
      }
    }
    .cardItems {
      @include tablet {
        justify-content: center;
      }
      .cmCol3.cardItem {
        width: 302px;
      }
    }
  }
}
