<!--
 templateType: page
 isAvailableForNewContent: false
-->  

{% macro buttonGroup(items)%}
    {% if items %}
    <div class="intro_btn_wrap">
        {% for item in items %}
        <div class="btn_item">
            {% if item.button_type == "std" %}
            {% set href = item.link.url.href %}
            {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a class=" {{ item.button_style ? item.button_style : "hs-button" }} {{item.button_theme}}"
                 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
                 href="{{ href }}" 
                 {% else %}
                 href="{{ href }}"
                 {% endif %}
                 {% if item.link.open_in_new_tab %}
                 target="_blank"
                 {% endif %}
                 {% if item.link.rel %}
                 rel="{{ item.link.rel }}"
                 {% endif %}>
                <span>{{ item.button_text }}</span>
                {% if item.button_style  == "hs-arrow-btn"%}
                <div class="icon">
                    <div class="inner">
                        <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 6.39548C7.05396 6.60478 7.05396 6.94407 6.83814 7.15337L1.2039 12.6174C0.988082 12.8267 0.638231 12.8267 0.422411 12.6174L0.161865 12.3648C-0.053955 12.1555 -0.053955 11.8162 0.161865 11.6069L5.14481 6.77442L0.161865 1.94196C-0.0539548 1.73266 -0.0539548 1.39337 0.161865 1.18407L0.422411 0.931391C0.638231 0.722089 0.988082 0.722089 1.2039 0.931391L6.83814 6.39548Z" fill="#052A50"/>
                        </svg>
    
                    </div>
                </div>
                {% endif %}
            </a>
            {% endif %}
            {% if item.button_type == "cta" %}
            {% cta guid="{{ item.cta }}" %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endmacro %}
    
    {% macro singlebuttonGroup(item)%}
    {% if item %}
    <div class="intro_btn_wrap">
        <div class="btn_item">
            {% if item.button_type == "std" %}
            {% set href = item.link.url.href %}
            {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a class="{{ item.button_style ? item.button_style : "hs-button" }} {{item.button_theme}}"
                 {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
                 href="{{ href }}" 
                 {% else %}
                 href="{{ href }}"
                 {% endif %}
                 {% if item.link.open_in_new_tab %}
                 target="_blank"
                 {% endif %}
                 {% if item.link.rel %}
                 rel="{{ item.link.rel }}"
                 {% endif %}>
                <span>{{ item.button_text }}</span>
                {% if item.button_style  == "hs-sec-btn"%}
                <div class="icon">
                    <div class="inner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="currentColor">
                            <path d="M7.5 9.5L6.45 8.4125L9.1125 5.75H0V4.25H9.1125L6.45 1.5875L7.5 0.5L12 5L7.5 9.5Z"/>
                        </svg>
                    </div>
                </div>
                {% endif %}
            </a>
            {% endif %}
            {% if item.button_type == "cta" %}
            {% cta guid="{{ item.cta }}" %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endmacro%}
    
    {% macro introGroup(group, settings, overrides)%}
    {% if group.include_eyebrow_text or group.include_heading or group.include_content or  group.include_button%}
    <div class="intro_content {% if settings %}{{settings.intro_content_alignment}}{% endif %}" {% if module.module_settings.intro_content_width %}style="max-width:{{ module.module_settings.intro_content_width }}px;"{% endif %}>
    
        <div class="intro__inner " >
            <div class="intCnt">
                {% if group.include_eyebrow_text%}
                <div class="eyebrow_text">
                    {{ group.eyebrow_text }}
                </div>
                {% endif %}
    
                {% if group.include_heading %}
                <{{group.heading_size}} class="intro_title 		{% if group.include_heading_border %}hd_border{% endif %}">{{ group.heading }}{% if group.include_heading_border %}<span></span>{% endif %}</{{group.heading_size}}>
                    {% endif %}
                    {% if group.include_subheading %}
                    <div class="subheading">
                {{ group.subheading }}
            </div>
            {% endif %}
    
            {% if group.include_content %}
            <div class="intro_desc {{ group.content_style }} {{settings.select_content_bg_color}}">
                {{ group.content }}
            </div>
            {% endif %}
        </div>
        {% if group.include_button %}
        {{buttonGroup(group.button_group)}}
        {% endif %}
    
    
    
    </div>
    </div>
    {% endif %}
    {% endmacro%} 
    
    
    
    
    {% macro blogCards(item,moduleSetting) %}
    {% if item %}
    <div class="splide__slide cardItem {{ moduleSetting.select_color }} {% if moduleSetting.dark_theme %} light_theme {% endif %}">
        {% if item.featured_image %}
        <div class="ItemImg">
            <a href="{{ item.absolute_url }}">
                <div class="itemImgBg" style="background-image:url({{ item.featured_image }})"></div>
            </a>
        </div>
        {% endif %}
        <div class="itemContent">
            {% if item.topic_list %}
            <div class="itemtag">
                {% set included_topics = item.topic_list | rejectattr("slug", "equalto", "featured") | list %}
                {% for topic in included_topics %}
                {% if loop.first %}
                <span class="{{ topic.slug }}">{{ topic.name|capitalize }}</span>{% endif %}{% endfor %}
            </div>
            {% endif %}
            <div class="itemTtl">
                <h4><a class="restitle" href="{{ item.absolute_url }}">{{ item.name }}</a></h4>
            </div>
            <div class="itemdesc">
                {{ item.post_list_content|striptags|truncatehtml(80, '...' , false) }}
            </div>
        </div>
        <div class="itemBtn">
            <a class="hs-sec-btn" href="{{ item.absolute_url }}">
                <span>Read More</span>
                <div class="icon">
                    <div class="inner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="currentColor">
                            <path d="M7.5 9.5L6.45 8.4125L9.1125 5.75H0V4.25H9.1125L6.45 1.5875L7.5 0.5L12 5L7.5 9.5Z"/>
                        </svg>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    {% endmacro%}
    
    
    {% macro blogCards(item,moduleSetting) %}
    {% if item %}
    <div class="cmCol3 cardItem">
        <div class="itemInr ">
            {% if item.featured_image %}
            <div class="itemImg">
                <div class="itemImgin" style="background-image:url({{ item.featured_image }})">	<a class="absltLink" href="{{ item.absolute_url }}"></a></div>
            </div>
            {% endif %}
            <div class="itemCnWrap">
                <div class="itemCntSec">
    
                    <div class="itemMeta"> <span class="itemDate">{{ item.publish_date_local_time.strftime('%B %e, %Y') }}</span>
                    </div>
                    {% if item.name %}
                    <div class="itemTitle">
                        <h5>
                            <a  href="{{ item.absolute_url }}">
                                {{ item.name }}
                            </a>
                        </h5>
                    </div>  
                    {% endif %}
                    {% if item.topic_list %}
                    <div class="itemTags">
                        {% set included_topics = item.topic_list | rejectattr("slug", "equalto", "featured") | list %}
                        {% for topic in included_topics %}
                        <a class="{{ topic.slug }}" href="{{ blog_tag_url(group.id, topic.slug) }}">{{ topic.name|capitalize }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div> 
            </div>
    
        </div>
    </div>
    {% endif %}
    {% endmacro%}
    
    
    {% macro hubDBCards(row) %}
    {% if row %}
    <div class="cmCol3 cardItem">
        <div class="itemInr ">
            {% if row.image.url %}
            <div class="itemImg">
                <div class="itemImgin" style="background-image:url({{ row.image.url }})">	<a class="absltLink" href="{{ row.link }}"></a></div>
            </div>
            {% endif %}
            <div class="itemCnWrap">
                <div class="itemCntSec">
    
                    {% if row.topic.name %}
                    <div class="itemTags"> 
                    {{ row.topic.name|capitalize }}
                    </div>
                    {% endif %} 
                    
                    {% if row.name %}
                    <div class="itemTitle">
                        <h5>
                            <a  href="{{ row.link }}">
                                {{ row.name }}
                            </a>
                        </h5>
                    </div>  
                    {% endif %}
                    
                </div>
                {% if row.read_more_text %}
                <div class="intro_btn_wrap">
                    <div class="btn_item">
                        <a class="hs-arrow-btn " href="{{ row.link }}">
                            <span>{{ row.read_more_text }}</span>
                            <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.83814 6.39548C7.05396 6.60478 7.05396 6.94407 6.83814 7.15337L1.2039 12.6174C0.988082 12.8267 0.638231 12.8267 0.422411 12.6174L0.161865 12.3648C-0.053955 12.1555 -0.053955 11.8162 0.161865 11.6069L5.14481 6.77442L0.161865 1.94196C-0.0539548 1.73266 -0.0539548 1.39337 0.161865 1.18407L0.422411 0.931391C0.638231 0.722089 0.988082 0.722089 1.2039 0.931391L6.83814 6.39548Z" fill="#052A50"/>
                            </svg>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
    
        </div>
    </div>
    {% endif %}
    {% endmacro%}
    
    
    