@import "../../css/_module-imports";
.u4m-side-tabber {
  .sideTabber {
    .TabberInr {
      max-width: 1000rem;
      margin: 0 auto;
      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        .tab-section {
          width: 30.2%;
          @include tabletvert {
            width: 100%;
          }
          .tab-item {
            margin-bottom: 12px;
            .tab-ttl {
              background: $white;
              padding: 20px 28px;
              border-radius: $border3;
              cursor: pointer;
              .slider_tab_title {
                color: $action1;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                cursor: pointer;
                .plus {
                  display: flex;
                  max-width: 12px;
                  width: 100%;
                }
              }
              .toggle_content {
                height: 0;
                overflow: hidden;
                transition: height 0.3s ease;
              }
            }
            .tab-inner {
              .content {
                @include b5;
                color: inherit;
                margin-bottom: 0;
                // visibility: hidden;
                // opacity: 0;
                // transition: visibility 0s 0.3s, opacity 0.3s ease;
                height: 0;
                overflow: hidden;
                transition: height 0.3s ease; /* Add smooth transition for height change */
                .content_inner {
                  margin-top: 8px;
                }
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
            &.acc-open {
              .tab-ttl {
                h5.slider_tab_title {
                  color: $white;
                  .plus {
                    transform: rotate(180deg);
                    svg path {
                      fill: currentColor;
                    }
                  }
                }
                .tab-inner .content {
                  // display: block;
                  // height: auto;
                  // opacity: 1;
                  // transform: scaleY(1);
                }
                .toggle_content {
                  height: auto;
                }
              }
              .content {
                height: auto;
              }
            }
            &.active {
              .content {
                height: auto;
              }
            }
          }
          @include tabletvertMin {
            .toggle_content {
              display: none;
            }
          }
          @include tabletvert {
            .mobile_cnnt.tab-content-section {
              margin-top: 30px;
              .tabber-cnt h3 {
                color: inherit;
              }
              .tabber-btn .hs-arrow-btn {
                color: inherit;
                svg path {
                  fill: currentColor;
                }
              }
            }
          }
        }
        & > .tab-content-section {
          width: calc(69.8% - 12px);
          @include tabletvert {
            display: none;
          }
          .cnt-item {
            display: none;
            height: 100%;
            padding: 60px;
            border-radius: $border3;
            overflow: hidden;
            animation: fadeIn 1s ease-in forwards;
            .cnt {
              margin-bottom: 40px;
            }
          }
          & > .cnt-item.acc-open {
            display: block;
            .tabber-cnt h3 {
              color: inherit;
            }
            .tabber-btn .hs-arrow-btn {
              color: inherit;
              svg path {
                fill: currentColor;
              }
            }
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
