@import "../../css/_module-imports";

.u4m-cards {
  .page-center {
    .innerContainer {
      overflow: visible;
    }
  }

  .cards-items-inner {
    gap: 24px;

    .card-item {
      &.col-four {
        width: calc((100% - 72px) / 4);
      }

      &.col-three {
        width: calc((100% - 48px) / 3);
        padding: 0 !important;
      }

      &.col-two {
        width: calc((100% - 24px) / 2);
      }

      @include tablet {
        width: calc((100% - 24px) / 2) !important;
      }

      @include tabletvert {
        width: 100% !important;
      }
    }
  }

  &.style-type_one {
    padding-bottom: 120px;
    padding-top: 150px;

    @include tabletvert {
      padding-top: 50px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 9;
      display: inline-block;
      height: 80px;

      @include tabletvert {
        display: none;
      }
    }
  }

  .page-center {
    .innerContainer {
      .intro_content {
        &.nobtn {
          margin-bottom: 60px;
        }
      }

      .cards-items-wrapper {
        padding: 0 12px;

        @include tabletvert {
          padding: 0;
        }

        .cards-items-inner {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0 -12px;
          row-gap: 24px;
          justify-content: space-between;

          @include tabletvert {
            margin: 0;
          }

          .card-item {
            .card-item-inner {
              padding: 40px 24px;
              background-color: $white;
              border-radius: $border3;
              height: 100%;
              box-shadow: $shadow1;

              .card-media {
                margin-bottom: 24px;

                .card-media-inner {
                  width: 64px;
                  height: 64px;
                  background-color: rgba($orange, 0.1);
                  border-radius: $border2;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  padding: 16px;
                  font-size: 0;

                  img {
                    width: auto;
                    max-height: 32px;
                    max-width: 32px;
                  }

                  svg {
                    fill: $orange;
                    height: 32px;
                  }
                }
              }

              .card-content-row {
                .card-content {
                  color: $action2;

                  .eyebrow_text {
                    @include eyebrow;
                    background-color: $gray1 !important;
                    color: $lightblue !important;
                  }

                  .card-title {
                    color: $action1;
                  }

                  p {
                    margin-top: 0;

                    &:last-child {
                      margin-bottom: 0;
                    }
                  }

                  .linkWrap {
                    margin-top: 10px;
                  }
                }
              }
            }
          }
        }
      }

      .cards-items-wrapper.content_type_one {
        .cards-items-inner {
          .card-item {
            &:nth-child(even) {
              padding-top: 40px;

              @include tablet {
                padding-top: 0;
              }

              @include tabletvert {
                padding-top: 0;
              }
            }

            &:nth-child(odd) {
              padding-bottom: 40px;

              @include tablet {
                padding-bottom: 0;
              }

              @include tabletvert {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.u4m-cards.style-type_two {
  padding-bottom: 140px;

  .page-center {
    .innerContainer {
      .cards-items-wrapper {
        .cards-items-inner {
          .card-item.col-two {
            .card-item-inner {
              padding: 24px;
              box-shadow: $shadow1;
              border-bottom: 6px solid $orange;
              padding-bottom: 34px;

              .card-content-row {
                .card-content {
                  .card-top-content {
                    display: flex;
                    flex-direction: row;
                    gap: 24px;
                    align-items: center;
                    margin-bottom: 24px;

                    @include phone {
                      flex-direction: column;
                      align-items: flex-start;
                    }

                    .card-icon-left {
                      .card-media-inner {
                        width: 64px;
                        height: 64px;
                        background-color: rgba($orange, 0.1);
                        border-radius: $border2;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 16px;
                        font-size: 0;

                        img {
                          width: 32px;
                        }

                        svg {
                          fill: $orange;
                          height: 32px;
                        }
                      }
                    }

                    .card-content-right {
                      .card-title {
                        margin-bottom: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .intro_content {
        &.nobtn {
          margin-bottom: 80rem;
        }
      }
    }
  }

  .bg_image {
    overflow: visible;
    background-position: center bottom;
  }
}

.u4m-cards.style-type_three {
  padding-top: 120px;

  .page-center {
    .innerContainer {
      .cards-items-wrapper {
        .cards-items-inner {
          .card-item {
            .card-item-inner {
              padding: 24px;
              padding-bottom: 40px;

              .card-media {
                .card-media-inner {
                  width: 100%;
                  height: 100%;
                  padding: 0;
                  background: transparent;
                  border-radius: $border2;
                  overflow: hidden;

                  img {
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                  }
                }
              }
            }
          }

          justify-content: center;
        }
      }
    }
  }
}