{% set moduleName = 'u4m-cards' %}
{% set moduleExtraName = 'style-{{ module.module_settings.select_content_type }}' %}
{% include "../partials/u4-module-includes.html" %}
{% if module.module_settings.select_content_type == "type_one" %}
<div class="curved-top-img"></div>
{% endif %}

{{ macros.introGroup(module.intro_content, module.module_settings) }} 


<div class="cards-items-wrapper content_{{ module.module_settings.select_content_type }}">
	<div class="cards-items-inner">
		{% for item in module.card_group %}
		<div class="card-item card{{loop.index}} col-{{ module.module_settings.cards_per_row }}">
			<div class="card-item-inner item{{ module.module_settings.cards_style.bg_color }} color{{ module.module_settings.cards_style.content_color }}">

				{% if module.module_settings.select_content_type == "type_three" or module.module_settings.select_content_type == "type_one" %}
				{% if item.select_icon_type or item.image_area.src %}
				<div class="card-media">
					<div class="card-media-inner media_{{ module.module_settings.select_content_type }}">
						{% if module.module_settings.select_content_type == "type_one" %}
						{% if item.select_icon_type == "icon" %}
						{% icon
											name="{{ item.icon_field.name }}"
											style="{{ item.icon_field.type }}"
											unicode="{{ item.icon_field.unicode }}"
											icon_set="{{ item.icon_field.icon_set }}"
										%}
						{% elif item.select_icon_type == "image" %}
						{% if item.image.src %}
						{% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
						<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }}>
						{% endif %}
						{% endif %}

						{% elif module.module_settings.select_content_type== "type_three" %}
						{% if item.image_area.src %}
						{% set loadingAttr = item.image_area.loading != 'disabled' ? 'loading="{{ item.image_area.loading|escape_attr }}"' : '' %}
						<img src="{{ item.image_area.src }}" alt="{{ item.image_area.alt }}" {{ loadingAttr }}>
						{% endif %}
						{% endif %}
					</div>
				</div>
				{% endif %}
				<div class="card-content-row">
					<div class="card-content">	
						{% if item.include_eyebrow_text %}
						<div class="eyebrow_text">
							{{ item.eyebrow_text }}
						</div>
						{% endif %}
						{% if item.heading %}
						<h4 class="card-title">
							{{ item.heading }}
						</h4>
						{% endif %}
						{% if item.content %}
						{{ item.content }}
						{% endif %}
						{% set href = item.link_field.url.href %}
						{% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
						{% endif %}
						{% if item.link_text %}
						<div class="linkWrap">
							<a class="card-link" 
								 {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
								 href="{{ href }}"
								 {% else %}
								 href="{{ href }}"
								 {% endif %}
								 {% if item.link_field.open_in_new_tab %}
								 target="_blank"
								 {% endif %}
								 {% if item.link_field.rel %}
								 rel="{{ item.link_field.rel|escape_attr }}"
								 {% endif %}
								 >{{ item.link_text }}
							</a>
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}

				{% if module.module_settings.select_content_type == "type_two" %}
				<div class="card-content-row">
					<div class="card-content">	
						<div class="card-top-content">
							<div class="card-icon-left">
								<div class="card-media-inner">
									{% if item.select_icon_type == "icon" %}
									{% icon
											name="{{ item.icon_field.name }}"
											style="{{ item.icon_field.type }}"
											unicode="{{ item.icon_field.unicode }}"
											icon_set="{{ item.icon_field.icon_set }}"
										%}
									{% elif item.select_icon_type == "image" %}
									{% if item.image.src %}
									{% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
									<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }}>
									{% endif %}
									{% endif %}
								</div>
							</div>
							<div class="card-content-right">
								{% if item.include_eyebrow_text %}
								<div class="eyebrow_text">
									{{ item.eyebrow_text }}
								</div>
								{% endif %}
								{% if item.heading %}
								<h4 class="card-title">
									{{ item.heading }}
								</h4>
								{% endif %}
							</div>
						</div>
						{% if item.content %}
						<div class="card-bottom-content">
							{{ item.content }}
						</div>
						{% endif %}
						{% set href = item.link_field.url.href %}
						{% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
						{% set href = "mailto:" + href %}
						{% endif %}
						{% if item.link_text %}
						<div class="linkWrap">
							<a class="card-link" 
								 {% if item.link_field.url.type is equalto "CALL_TO_ACTION"  %}
								 href="{{ href }}"
								 {% else %}
								 href="{{ href }}"
								 {% endif %}
								 {% if item.link_field.open_in_new_tab %}
								 target="_blank"
								 {% endif %}
								 {% if item.link_field.rel %}
								 rel="{{ item.link_field.rel|escape_attr }}"
								 {% endif %}
								 >{{ item.link_text }}
							</a>
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}

			</div>
		</div>
		{% endfor %}
	</div>
</div>

</div>
</div>
</section>


{% require_css %}

<style>
	{% for item in module.card_group %}
	.{{name}}.style-type_two .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item.card{{loop.index}} .card-item-inner .card-content-row .card-content .card-top-content .card-icon-left .card-media-inner,
	.{{name}} .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item.card{{loop.index}} .card-item-inner .card-media .card-media-inner,
	.{{name}} .card-item.card{{loop.index}} .card-media-inner{
		background-color:rgba({{ item.icon_settings.background_color.color|convert_rgb }},{{ item.icon_settings.background_color.opacity*0.01 }});
		color:rgba({{ item.icon_settings.color.color|convert_rgb }},{{ item.icon_settings.color.opacity*0.01 }});
	}

	.{{name}} .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item.card{{loop.index}} .card-item-inner .card-media .card-media-inner svg,
	.{{name}}.style-type_two .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item.card{{loop.index}} .card-item-inner .card-content-row .card-content .card-top-content .card-icon-left .card-media-inner svg,
	.{{name}} .card-item.card{{loop.index}} .card-media-inner svg{
		fill:rgba({{ item.icon_settings.color.color|convert_rgb }},{{ item.icon_settings.color.opacity*0.01 }});
	}

	.{{name}}.style-type_two .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item.card{{loop.index}} .card-item-inner{
		border-bottom-color:rgba({{ item.icon_settings.color.color|convert_rgb }},{{ item.icon_settings.color.opacity*0.01 }});
	}
	{% endfor %}



	.{{name}} .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item .card-item-inner{
		{% if module.module_settings.cards_style.bg_color == 'custom' %}
		background-color:rgba({{ module.module_settings.cards_style.background_color.color|convert_rgb }},{{ module.module_settings.cards_style.background_color.opacity*0.01 }});
		{% endif %}
		{% if module.module_settings.cards_style.content_color == 'custom' %}
		color:rgba({{ module.module_settings.cards_style.custom_content_color.color|convert_rgb }},{{ module.module_settings.cards_style.custom_content_color.opacity*0.01 }});
		{% endif %}
	}
 {% if module.module_settings.cards_style.content_color %}
	.{{name}} .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item .card-item-inner .card-content-row .card-content,
	.{{name}} .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item .card-item-inner .card-content-row .card-content .eyebrow_text,
	.{{name}} .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item .card-item-inner .card-content-row .card-content .card-title,
	.{{name}} .page-center .innerContainer .cards-items-wrapper .cards-items-inner .card-item .card-item-inner .card-content-row .card-content .card-link{
		color: inherit; !important;
	}
 	{% endif %}




</style>

{% end_require_css %}