@import "../../css/_module-imports";
.u4m-events {
  &.reverse-text .cardItem .hs-arrow-btn {
    @include arrowbutton;
  }
  .CardWrap {
    @include tabletvertMin {
      .topcard {
        width: 100%;
        .cmCol3.cardItem {
          width: 100%;
          max-width: 1000rem;
          margin: 0 auto 36rem;
          .itemInr {
            display: flex;
            flex-wrap: wrap;
            & > * {
              width: 50%;
              .itemImgin {
                height: 100%;
              }
            }
            .itemCnWrap {
              padding: 32rem 40rem;
            }
          }
        }
      }
    }
    @include tabletvert {
      .topcard {
        width: 100%;
      }
    }

    .cardItem {
      @include tabletMin {
        width: calc(25% - 18px);
      }
      .itemInr {
        @include blogpostCard;
        .itemImgin {
          min-height: 170px;
        }
        .itemCnWrap {
          padding: 24rem;
          .itemTags {
            margin-bottom: 16rem;
          }
          .btn_item a {
            margin-bottom: 0;
          }
        }
      }
    }
    .cardItems {
      @include tablet {
        justify-content: center;
      }
      .cmCol3.cardItem {
        width: 302px;
      }
    }
  }
  .pagination {
    text-align: center;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 12px;
      padding: 0;
      list-style: none;
      margin-top: 30rem;
      .nav-links {
        display: flex;
        gap: 12px;
      }
      a.page-numbers {
        font-weight: bold;
        padding: 4px 11px;
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        &:hover {
          color: $lightgreen;
          border-bottom: 2px $lightgreen inset;
        }
        svg {
          vertical-align: middle;
          path {
            fill: currentColor;
          }
        }
        &.disable {
          pointer-events: none;
          opacity: 0.4;
        }
      }
      a.active.page-numbers {
        color: $lightgreen;
        border-bottom: 2px $lightgreen inset;
      }
      a.prev.page-numbers {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}
