@import "../../css/_module-imports";

.u4m-rich-text {
  .cmRichText {
    max-width: 700rem;
    width: 100%;
    margin: 0 auto;

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

}