@import "../../css/_module-imports";

.u4m-rich-text {
  .cmRichText {
    max-width: 700rem;
    width: 100%;
    margin: 80px auto 0;
    & > *:last-child {
      margin-bottom: 0;
    }
    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}
