//heading styles
@mixin h1 {
  font-family: $font1;
  font-size: 48rem;
  font-weight: bold;
  color: $action1;
  margin-bottom: 30rem;
  line-height: 1.2;
  margin-top: 0;
  @include tablet {
    font-size: 40rem;
  }
  @include phone {
    font-size: 30rem;
    margin-bottom: 20rem;
  }
}
@mixin h2 {
  font-family: $font1;
  font-size: 40rem;
  font-weight: bold;
  color: $action1;
  margin-bottom: 16rem;
  line-height: 1.2;
  @include tablet {
    font-size: 38rem;
  }
  @include phone {
    font-size: 28rem;
  }
}
@mixin h3 {
  font-family: $font1;
  font-size: 33rem;
  font-weight: bold;
  color: $action1;
  margin-bottom: 16rem;
  line-height: 1.2;
  @include tablet {
    font-size: 28rem;
  }
  @include phone {
    font-size: 24rem;
  }
}
@mixin h4 {
  font-family: $font1;
  font-size: 28rem;
  font-weight: bold;
  color: $action1;
  margin-bottom: 16rem;
  line-height: 1.2;
  @include tablet {
    font-size: 24rem;
  }
  @include phone {
    font-size: 22rem;
  }
}
@mixin h5 {
  font-family: $font1;
  font-size: 23rem;
  font-weight: bold;
  color: $action1;
  margin-bottom: 16rem;
  line-height: 1.2;
  @include tablet {
    font-size: 22rem;
  }
  @include phone {
    font-size: 20rem;
  }
}
@mixin h6 {
  font-family: $font1;
  font-size: 19rem;
  font-weight: bold;
  color: $action1;
  margin-bottom: 16rem;
  line-height: 1.2;
  @include tablet {
    font-size: 19rem;
  }
  @include phone {
    font-size: 19rem;
  }
}
//body styles
@mixin b1 {
  font-family: $font1;
  font-size: 16rem;
  line-height: 1.5;
  margin-bottom: 16rem;
  color: $action2;
  @include phone {
    font-size: 16rem;
  }
}
@mixin b2 {
  font-family: $font1;
  font-size: 18rem;
  line-height: 1.5;
  margin-bottom: 20rem;
  @include phone {
    font-size: 16rem;
  }
}
@mixin b3 {
  font-family: $font1;
  font-size: 16rem;
  line-height: 1.5;
  margin-bottom: 16rem;
  color: $action2;
  @include phone {
    font-size: 16rem;
  }
}
@mixin b4 {
  font-family: $font1;
  font-size: 14rem;
  line-height: 1.5;
  margin-bottom: 20rem;
  @include phone {
    font-size: 14rem;
  }
}
@mixin b5 {
  font-family: $font1;
  font-size: 13rem;
  line-height: 1.5;
  margin-bottom: 16rem;
  color: $action2;
  @include phone {
    font-size: 13rem;
  }
}
@mixin b6 {
  font-family: $font1;
  font-size: 11rem;
  line-height: 1.5;
  color: $action2;
  margin-bottom: 10rem;
  @include phone {
    font-size: 11rem;
  }
}
@mixin blockquote {
  font-family: $font1;
  font-size: 30rem;
  font-weight: bold;
  line-height: $baseLineHeight;
  letter-spacing: 1rem;
  margin: 50rem auto;
  color: $action1;
  display: block;
  max-width: 90%;
  @include phone {
    font-size: 23rem;
  }
}
@mixin eyebrow {
  font-family: $font1;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  margin-bottom: 12rem;
  border-radius: $border2;
  background-color: rgba($white, 0.9);
  color: $lightblue;
  letter-spacing: 0.05em;
  font-size: 13rem;
  line-height: 1.5;
}
