@include remScalling;

// * {
//   border: 1px solid red;
// }

/* Keep background from scrolling when menu is open */
html.menu-open {
  overflow-y: hidden;
}

/* Keep background from scrolling when menu is open */
html {
  display: block;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* make html visible after Firefox flash in hack */
body {
  font-family: $font1;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $action2;
  font-weight: normal;
  background-color: $gray1;

  &.hide-header {
    margin-top: 0;
  }
}

body.lp-sign-up {
  margin-top: 0;
}

/* Set default text size */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

//Set in Typography Mixins
p:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* 0 top margin on 1st header */
// default anchor link offset
div.hs_cos_wrapper_widget section.top-margin-none {
  margin-top: 0;
}

div.hs_cos_wrapper_widget section.top-margin-small {
  margin-top: 50rem;

  @include tabletvert {
    margin-top: 35rem;
  }

  @include phone {
    margin-top: 25rem;
  }
}

div.hs_cos_wrapper_widget section.top-margin-medium {
  margin-top: 100rem;

  @include tabletvert {
    margin-top: 75rem;
  }

  @include phone {
    margin-top: 50rem;
  }
}

div.hs_cos_wrapper_widget section.top-margin-large {
  margin-top: 150rem;

  @include tabletvert {
    margin-top: 115rem;
  }

  @include phone {
    margin-top: 75rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-margin-none {
  margin-bottom: 0;
}

div.hs_cos_wrapper_widget section.bottom-margin-small {
  margin-bottom: 50rem;

  @include tabletvert {
    margin-bottom: 35rem;
  }

  @include phone {
    margin-bottom: 25rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-margin-medium {
  margin-bottom: 100rem;

  @include tabletvert {
    margin-bottom: 75rem;
  }

  @include phone {
    margin-bottom: 50rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-margin-large {
  margin-bottom: 150rem;

  @include tabletvert {
    margin-bottom: 115rem;
  }

  @include phone {
    margin-bottom: 75rem;
  }
}

div.hs_cos_wrapper_widget section.top-padding-none {
  padding-top: 0;
}

div.hs_cos_wrapper_widget section.top-padding-small {
  padding-top: 50rem;

  @include tabletvert {
    padding-top: 35rem;
  }

  @include phone {
    padding-top: 25rem;
  }
}

div.hs_cos_wrapper_widget section.top-padding-medium {
  padding-top: 100rem;

  @include tabletvert {
    padding-top: 75rem;
  }

  @include phone {
    padding-top: 50rem;
  }
}

div.hs_cos_wrapper_widget section.top-padding-large {
  padding-top: 150rem;

  @include tabletvert {
    padding-top: 115rem;
  }

  @include phone {
    padding-top: 75rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-padding-none {
  padding-bottom: 0;
}

div.hs_cos_wrapper_widget section.bottom-padding-small {
  padding-bottom: 50rem;

  @include tabletvert {
    padding-bottom: 35rem;
  }

  @include phone {
    padding-bottom: 25rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-padding-medium {
  padding-bottom: 100rem;

  @include tabletvert {
    padding-bottom: 75rem;
  }

  @include phone {
    padding-bottom: 50rem;
  }
}

div.hs_cos_wrapper_widget section.bottom-padding-large {
  padding-bottom: 150rem;

  @include tabletvert {
    padding-bottom: 115rem;
  }

  @include phone {
    padding-bottom: 75rem;
  }
}

// default anchor link offset
.anchor {
  display: block;
  position: relative;
  top: -160rem;
  visibility: hidden;
}

// video popup for Magnific modal
div.video-popup {
  position: relative;
  background: transparent;
  padding: 50rem;
  width: auto;
  max-width: 960rem;
  margin: 0 auto;

  button.mfp-close {
    color: $white;
    font-size: 40rem;
  }
}

// HubSpot Cookie Notification
div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom.can-use-gradients {
  box-shadow: 2rem -1rem 5rem 0rem rgba(0, 0, 0, 0.05);
  border: 0;
  background-color: rgba($white, 0.9);

  div#hs-eu-cookie-confirmation-inner {
    background-color: rgba($white, 0);
    padding: 15rem 20rem 10rem 20rem;
    max-width: 1240rem;

    p {
      @include b4;
      margin-bottom: 0;
    }

    div#hs-en-cookie-confirmation-buttons-area {
      text-align: left !important;
      margin: 0 !important;

      a#hs-eu-confirmation-button {
        @include buttonSmall;
        font-weight: bold !important;
        margin: 10rem 0;

        &:hover {
          background-color: $black !important;
        }
      }
    }
  }
}

// default p size

a {
  @include link;
}

blockquote,
blockquote p {
  @include blockquote;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  @include b3;
  list-style: disc;
  padding-left: 40rem;
  margin-top: 0;
  margin-bottom: 30rem;
}

ol {
  @include b3;
  list-style: decimal;
  padding-left: 40rem;
  margin-top: 0;
  margin-bottom: 30rem;
}

li {
  margin-bottom: 5rem;
  letter-spacing: 0.5rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 20rem 0 20rem 20rem;
}

input {
  font-family: $font1;
}

button {
  font-family: $font1;
  cursor: pointer;
}

/* Forms */
form {
  margin-bottom: 30rem;
}

::-webkit-input-placeholder {
  color: $gray3;
  opacity: 1;
  font-weight: normal;
}

/* Webkit input placeholders */
::-moz-placeholder {
  color: $gray3;
  opacity: 1;
  font-weight: normal;
}

/* Firefox input placeholders */
:-ms-input-placeholder {
  color: $gray3;
  opacity: 1;
  font-weight: normal;
}

/* IE  input placeholders */
/* Images */
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
}

/* Make responsive, clear border, fix IE scaling, suppress the space beneath the baseline, fix Webkit blurring on scaled down files */
svg {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Horizontal Rule */
hr {
  margin-top: 30rem;
  margin-bottom: 35rem;
  border-width: 0;
  border-top: 1rem solid $gray1;
}

/* Abbreviations */
abbr[title] {
  border: 0;
}

/* Code */
code {
  padding: 1rem;
  margin: 0 10rem;
  white-space: nowrap;
  background: $gray1;
  border: 1rem solid $gray1;
  border-radius: 0;
}

pre > code {
  display: block;
  padding: 1rem 15rem;
  white-space: pre;
  margin-bottom: 30rem;
}

pre {
  overflow-x: auto;
}

/* responsive pre elements */
table pre {
  white-space: pre-wrap;
}

/* responsive pre tables */
/* Tables */
th,
td {
  padding: 10rem 20rem;
  text-align: left;
  border-bottom: 1rem solid $gray1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

table {
  margin-bottom: 30rem;
}

table th {
  text-transform: uppercase;
}

table td {
  border-bottom: 1rem solid $gray2;
  font-size: 14rem;
}

a[href="javascript:;"] {
  cursor: default;
}

//
section[class*="u4m-"] {
  scroll-margin-top: 150px;
}

.reverse-text {
  color: $white;

  .themeStyle,
  .bodystyle2,
  .bodystyle1,
  .bodystyle3,
  .bodystyle4,
  .bodystyle5,
  .eyebrow_text,
  .intro_desc,
  .intro_title {
    color: $white;
  }

  .eyebrow_text {
    background-color: rgba($white, 0.15) !important;
    color: $white !important;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    color: $white;
  }

  .arrow-link:not(:hover) {
    color: $white;
  }
}

.hs-button {
  @include button;
}

.hs-sec-btn {
  @include secondbutton;
}

.hs-arrow-btn {
  @include arrowbutton;
}

.reverse-text {
  .hs-button {
    @include button;
  }

  .hs-arrow-btn {
    background-color: transparent;
    color: $White;

    .icon {
      svg {
        fill: $White;

        path {
          fill: currentColor;
        }
      }
    }

    &:hover,
    &:focus {
      color: rgba($White, 0.8);

      .icon {
        svg {
          fill: rgba($White, 0.8);
        }
      }
    }
  }
}

.bg_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;

  &.overlay_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: overlay;
  }
}

.bg_image {
  background-size: cover;
  background-position: center;
}

.dnd_padd {
  position: relative;
}

.bg_overlay ~ *:not(.bg_overlay) {
  position: relative;
  z-index: 2;
}

.gradient1 {
  background: $gradientbg1;
}

.gradient2 {
  background: $gradientbg2;
}

.gradient3 {
  background: $gradientbg3;
}

.gradient4 {
  background: $gradientbg4;
}

.intro_content {
  @include introcenter;
  width: 100%;
  margin-bottom: 40rem;
  text-align: center;

  .eyebrow_text {
    @include eyebrow;
  }

  .intro_title {
    margin-top: 0;
    margin-bottom: 16rem;
  }

  .intro_btn_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 20rem;
  }

  .intro_desc {
    margin-bottom: 0px;

    p:last-child {
      margin: 0;
    }
  }

  &.right {
    margin-right: 0;
    text-align: right;

    .intro_title span {
      left: auto;
      right: 0;
      transform: none;
    }

    .intro_btn_wrap {
      justify-content: right;
    }
  }

  &.left {
    text-align: left;
    margin-left: 0;

    .intro_title span {
      left: 0;
      right: auto;
      transform: none;
    }

    .intro_btn_wrap {
      justify-content: left;
    }
  }
}

.green_bg {
  background-color: $green;
}

.shakespeare_bg {
  background-color: $Shakespeare;
}

.black_bg {
  background-color: $BlueCharcoal;
}

.lightblue_bg {
  background-color: $lightblue;
}

.Blue_bg {
  background-color: $Blue;
}

.orange_bg {
  background-color: $orange;
}

.Purple_bg {
  background-color: $purple;
}

.Gray_bg {
  background-color: $gray1;
}

.lightgray_bg {
  background-color: $gray2;
}

.solitudegray_bg {
  background-color: $gray3;
}

.darkgray_bg {
  background-color: $darkgray1;
}

.shuttlegray_bg {
  background-color: $darkgray2;
}

.bluishgray_bg {
  background-color: $darkgray3;
}

.White_bg {
  background-color: $white;
}

.green_clr {
  box-shadow: 24px 24px 0px $green;

  svg.play {
    fill: $green;
  }
}

.shakespeare_clr {
  box-shadow: 24px 24px 0px $Shakespeare;

  svg.play {
    fill: $Shakespeare;
  }
}

.black_clr {
  box-shadow: 24px 24px 0px $BlueCharcoal;

  svg.play {
    fill: $BlueCharcoal;
  }
}

.lightblue_clr {
  box-shadow: 24px 24px 0px $lightblue;

  svg.play {
    fill: $lightblue;
  }
}

.Blue_clr {
  box-shadow: 24px 24px 0px $Blue;

  svg.play {
    fill: $Blue;
  }
}

.orange_clr {
  box-shadow: 24px 24px 0px $orange;

  svg.play {
    fill: $orange;
  }
}

.Purple_clr {
  box-shadow: 24px 24px 0px $purple;

  svg.play {
    fill: $purple;
  }
}

.Gray_clr {
  box-shadow: 24px 24px 0px $gray1;

  svg .play {
    fill: $gray1;
  }
}

.lightgray_clr {
  box-shadow: 24px 24px 0px $gray2;

  svg.play {
    fill: $gray2;
  }
}

.solitudegray_clr {
  box-shadow: 24px 24px 0px $gray3;

  svg.play {
    fill: $gray3;
  }
}

.darkgray_clr {
  box-shadow: 24px 24px 0px $darkgray1;

  svg.play {
    fill: $darkgray1;
  }
}

.shuttlegray_clr {
  box-shadow: 24px 24px 0px $darkgray2;

  svg.play {
    fill: $darkgray2;
  }
}

.bluishgray_clr {
  box-shadow: 24px 24px 0px $darkgray3;

  svg.play {
    fill: $darkgray3;
  }
}

.White_clr {
  box-shadow: 24px 24px 0px $white;

  svg.play {
    fill: $white;
  }
}

.left_items .green_clr {
  box-shadow: -24px 24px 0px $green;

  svg.play {
    fill: $green;
  }
}

.left_items .shakespeare_clr {
  box-shadow: -24px 24px 0px $Shakespeare;

  svg.play {
    fill: $Shakespeare;
  }
}

.left_items .black_clr {
  box-shadow: -24px 24px 0px $BlueCharcoal;

  svg.play {
    fill: $BlueCharcoal;
  }
}

.left_items .lightblue_clr {
  box-shadow: -24px 24px 0px $lightblue;

  svg.play {
    fill: $lightblue;
  }
}

.left_items .Blue_clr {
  box-shadow: -24px 24px 0px $Blue;

  svg.play {
    fill: $Blue;
  }
}

.left_items .orange_clr {
  box-shadow: -24px 24px 0px $orange;

  svg.play {
    fill: $orange;
  }
}

.left_items .Purple_clr {
  box-shadow: -24px 24px 0px $purple;

  svg.play {
    fill: $purple;
  }
}

.left_items .Gray_clr {
  box-shadow: -24px 24px 0px $gray1;

  svg .play {
    fill: $gray1;
  }
}

.left_items .lightgray_clr {
  box-shadow: -24px 24px 0px $gray2;

  svg.play {
    fill: $gray2;
  }
}

.left_items .solitudegray_clr {
  box-shadow: -24px 24px 0px $gray3;

  svg.play {
    fill: $gray3;
  }
}

.left_items .darkgray_clr {
  box-shadow: -24px 24px 0px $darkgray1;

  svg.play {
    fill: $darkgray1;
  }
}

.left_items .shuttlegray_clr {
  box-shadow: -24px 24px 0px $darkgray2;

  svg.play {
    fill: $darkgray2;
  }
}

.left_items .bluishgray_clr {
  box-shadow: -24px 24px 0px $darkgray3;

  svg.play {
    fill: $darkgray3;
  }
}

.left_items .White_clr {
  box-shadow: -24px 24px 0px $white;

  svg.play {
    fill: $white;
  }
}

.CardWrap .cardItems.color .cardItem .itemInr .itemCnWrap .itemMeta,
.CardWrap .cardItems.color .cardItem .itemInr .itemCnWrap .itemTitle h5,
.CardWrap .cardItems.color .cardItem .itemInr .itemCnWrap .itemTitle h5 a,
.CardWrap .cardItems.color .cardItem .itemInr .itemCnWrap .itemDes,
.CardWrap .cardItems.color .cardItem .itemInr .itemCnWrap .itemTags,
.CardWrap
  .cardItems.color
  .cardItem
  .itemInr
  .itemCnWrap
  .intro_btn_wrap
  .btn_item
  .hs-arrow-btn,
.topCards.cardItems.color .cardItem .itemInr .itemCnWrap .itemMeta,
.topCards.cardItems.color .cardItem .itemInr .itemCnWrap .itemTitle h5,
.topCards.cardItems.color .cardItem .itemInr .itemCnWrap .itemTitle h5 a,
.topCards.cardItems.color .cardItem .itemInr .itemCnWrap .itemDes,
.topCards.cardItems.color .cardItem .itemInr .itemCnWrap .itemTags,
.topCards.cardItems.color
  .cardItem
  .itemInr
  .itemCnWrap
  .intro_btn_wrap
  .btn_item
  .hs-arrow-btn {
  color: inherit;
}

.CardWrap
  .cardItems.color
  .cardItem
  .itemInr
  .itemCnWrap
  .intro_btn_wrap
  .btn_item
  .hs-arrow-btn
  svg
  path,
.topCards.cardItems.color
  .cardItem
  .itemInr
  .itemCnWrap
  .intro_btn_wrap
  .btn_item
  .hs-arrow-btn
  svg
  path {
  fill: currentColor;
}

.innerContainer {
  position: relative;
}
.innerContainer.cornertrue {
  border-radius: $border3;
  overflow: hidden;
}
.topIntro .intro_content {
  max-width: 100%;
  padding: 0;
  margin-bottom: 60rem;

  @include tabletvert {
    text-align: left;
  }

  .intro__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    column-gap: 20px;

    @include tabletvert {
      flex-direction: column;
    }

    .intro_title {
      margin-bottom: 0;
    }

    .intro_btn_wrap {
      min-width: 150px;
      text-align: right;
      margin-top: 0;
      justify-content: flex-end;

      @include tabletvert {
        justify-content: flex-start;
      }

      .btn_item a {
        margin: 0;
      }
    }
  }
}

.cardItems {
  gap: 24px;

  .cmCol3 {
    width: calc((100% - 48px) / 3);

    @include tabvert {
      width: calc((100% - 24px) / 2);
    }

    @include tabletvert {
      width: 100%;
    }
  }
}

section.u4m-subscribe div.inner .left h3 {
  color: inherit;
}

.top_curved {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  min-height: 100px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  background-size: cover;
}
.bt_curved {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  min-height: 150px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 0;
  background-size: cover;
}
