@import "../../css/_module-imports";

.u4m-top-tabber {
  padding-top: 120px;
  .page-center {
    .innerContainer {
      .intro_content {
        margin-bottom: 60rem;
      }
    }
    .tabber_wrap {
      .tabber_inr {
        &.desktop_tab {
          @include tabletvert {
            display: none;
          }
        }
        .tabs {
          margin-bottom: 12px;
          .tab {
            margin: 0 -6px;
            width: auto;
            @include tabletvert {
              margin: 0;
              .tab_acc_item {
                margin-bottom: 20px;
                .tab_ttl {
                  cursor: pointer;
                }
              }
            }
            .slick-list {
              .slick-track {
                display: flex;
                justify-content: center;
                transform: none !important;
                width: 100% !important;
              }
            }
            .tab_ttl {
              flex: 1;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              @include tabletvert {
                margin-bottom: 0;
              }
              .tab_txt {
                padding: 20px 28px;
                background-color: $white;
                border-radius: $border3;
                margin: 0 6px;
                text-align: center;
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                &:hover {
                  color: $green;
                }
                span {
                  @include h5;
                  margin-bottom: 0;
                  color: $action1;
                }
                &:hover {
                  span {
                    color: $green;
                  }
                }
              }
            }
            .tab_ttl.slick-current {
              .tab_txt {
                background-color: $gray3;
                span {
                  color: $action1;
                }
              }
            }
          }
        }
        .tabber_cnt {
          @include tabletvert {
            display: none;
            overflow: hidden;
          }
          .tabber_cnt_inr {
            padding: 60px;
            border-radius: $border3;
            background-color: $gray3;
            .tabber_flex {
              flex-direction: column;
            }
            @include tabletvert {
              padding: 40px;
              margin-top: 20px;
            }
            @include phone {
              padding: 20px;
            }
            .tab-cnt-inner {
              max-width: 700px;
              color: $action2;
              h3 {
                color: $action1;
              }
              a.hs-arrow-btn {
                margin-top: 0;
                margin-bottom: 0;
                color: $action1;
              }
              .tab_btn_wrap {
                margin-top: 40px;
              }
            }
            .tabber_flex {
              .tab-top-cnt {
                margin-bottom: 40px;
              }
              .tab-card {
                width: 100%;
                .tab-card-items {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 24px;
                  justify-content: space-between;
                  .tab-card-item {
                    max-width: 272px;
                    width: calc((100% - 72px) / 4);
                    &.two-col {
                      width: calc((100% - 24px) / 2);
                      max-width: 100%;
                    }
                    &.three-col {
                      width: calc((100% - 48px) / 3);
                      max-width: 100%;
                      @include navbreak {
                        width: calc(50% - 24px);
                        max-width: 100%;
                      }
                    }
                    &.full-width {
                      width: 100%;
                      max-width: 100%;
                    }
                    @include navbreak {
                      width: calc(50% - 24px);
                      max-width: 100%;
                    }
                    @include tabletvert {
                      width: 100%;
                      max-width: 100%;
                    }
                    .tab-card-item-inn {
                      background-color: $white;
                      padding: 24px;
                      border-radius: $border3;
                      height: 100%;
                      display: flex;
                      flex-direction: column;
                      h5 {
                        color: $action1;
                      }
                      .tab-icon {
                        margin-bottom: 24px;
                        .tab-icon-inner {
                          width: 64px;
                          border-radius: $border2;
                          padding: 5px;
                          height: 64px;
                          text-align: center;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          background-color: rgba($orange, 0.15);
                          fill: $orange;
                          line-height: 0;
                          svg {
                            max-width: 32px;
                            max-height: 32px;
                            width: 100%;
                          }
                          img {
                            width: 32px;
                            margin: auto;
                            height: 32px;
                            object-fit: contain;
                          }
                        }
                      }
                      .tab-card-cnt-inn {
                        color: $action2;
                      }
                      .card_btn_wrap {
                        margin-top: auto;
                        .btn_item {
                          a.hs-arrow-btn {
                            margin: 0;
                            color: $action1;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .tabber_inr.mobile_tab {
        display: none;
        .tabs {
          .tab {
            .tab_ttl {
              .tab_txt {
                align-items: center;
                cursor: pointer;
                display: flex;
                gap: 8px;
                justify-content: space-between;
                @include h5;
                color: $action2;
                margin: 0;
                .plus {
                  display: flex;
                }
                &:hover {
                  color: $action2;
                }
              }
            }
            .tab_acc_item {
              &.active {
                .tab_txt {
                  color: $white;
                  background-color: $lightblue;
                  &:hover {
                    color: $white;
                  }
                  .plus {
                    transform: rotate(180deg);
                    svg {
                      path {
                        fill: $white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .tab_acc_item {
        }
        @include tabletvert {
          display: block;
        }
      }
    }
  }
}
