{% set moduleName = 'u4m-post-cards' %}
{% set moduleExtraName = 'topIntro' %}
{% include "../partials/u4-module-includes.html" %}

{{ macros.introGroup(module.intro_content, module.module_settings) }} 


<div class="postCardsWrap">
	<div class="CardWrap">
		<div class="flex_row cardItems {% if module.module_settings.card_content_color.color %}color{% endif %}">

			{% if module.blog_cards.feed_type == 'recent' %}
			{% set posts = blog_recent_posts(module.blog_cards.select_blog, module.blog_cards.number_of_posts) %} 
			{% elif module.blog_cards.feed_type == 'tag' %}
			{% set posts = blog_recent_tag_posts(module.blog_cards.select_blog, module.blog_cards.select_tag, module.blog_cards.number_of_posts) %} 
			{% endif %}
			{% if module.blog_cards.feed_type == 'recent' || module.blog_cards.feed_type == 'tag' %}
			{% for item in posts %}
			{{ macros.blogCards(item,module.module_settings)}}
			{% endfor %}
			{% elif module.blog_cards.feed_type == 'postbytitle' %}
			{% for item in module.blog_cards.blog_feed %}
			{% set item = content_by_id(item.select_post) %}
			{% if item %}
			{{ macros.blogCards(item,module.module_settings)}}
			{% endif %}
			{% endfor %}

			{% endif %}
		</div>
	</div>

</div>




 


</div>
</div>
</section>

 
{% require_css %}
<style>
	.{{ name }}.u4m-post-cards .CardWrap .cardItem .itemInr .itemCnWrap{
		background-color:{{ module.module_settings.card_background_color.rgba }};
		color:{{ module.module_settings.card_content_color.rgba }};
	}
</style>
{% end_require_css %}
