@import "../../css/_module-imports";

section.u4m-accordion {
  .accordions {
    margin: 0 auto;
    max-width: 1000rem;

    .items {
      transition: background-color 0.2s;
      cursor: pointer;
      border-radius: 12px;
      padding: 20rem;

      &:not(:last-child) {
        margin-bottom: 20rem;
      }

      &.active {
        .title {
          .cmMinusIcon {
            display: block;
          }

          .cmPlusIcon {
            display: none;
          }
        }
      }


      .title {
        font-size: 20rem;
        font-weight: 400;
        margin: 0;
        position: relative;
        list-style: none;
        padding-right: 25rem;

        .cmMinusIcon {
          display: none;
        }

        .cmIconWrap {
          display: flex;
          position: absolute;
          justify-content: center;
          align-items: center;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          svg {
            color: currentColor;
            fill: currentColor;
          }
        }

      }


      .cmInnerContent {
        transition: all 0.3s ease;
        overflow: hidden;
        height: 0;
        padding-top: 12rem;

        p:last-of-type {
          margin-bottom: 0;
        }

        &[style*="display: block"] {
          height: auto;
        }
      }

    }
  }
}